{% extends "MoocMoocBundle::layout.html.twig" %}

{% block container %}


    <div class="container_12">
        <div class="grid_12">
            <h2 class="mb0">Liste des cours</h2>
            <br/>
        </div>
    </div>

<div class="gray_block gb1">
    <div class="container_12">
        <div class="grid_12">
            <div class="responsive">
                <ul class="a_content">
                    <!-- 1 -->
                    <li>
                        <div class="card-front">
                            <div class="text2">Android debutant</div>
                            <p>In mollis erat matt nequemer rutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quis</p>
                        </div>
                        <div class="card-back">
                            <h2><a href="#">Click here</a></h2>
                        </div>
                        <!-- Content -->
                        <div class="all-content">
                            <div class="text2">Android intermidiaire</div>
                            <p>In mollis erat matt nequemer rutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quis</p>
                        </div>
                    </li>
                    <li>
                        <div class="card-front">
                            <div class="text2">Android Avancé</div>
                            <p>Demollis erat matt nequemer rutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quisy</p>
                        </div>
                        <div class="card-back">
                            <h2><a href="#">Click here</a></h2>
                        </div>
                        <!-- Content -->
                        <div class="all-content">
                            <div class="text2">IOS debutant</div>
                            <p>Demollis erat matt nequemer rutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quisy</p>
                        </div>
                    </li>
                    <li>
                        <div class="card-front">
                            <div class="text2">IOS intermidiaire</div>
                            <p>In mollis erat matt nequemer rutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quis</p>
                        </div>
                        <div class="card-back">
                            <h2><a href="#">Click here</a></h2>
                        </div>
                        <!-- Content -->
                        <div class="all-content">
                            <div class="text2">IOS Avancé</div>
                            <p>In mollis erat matt nequemer rutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quis</p>
                        </div>
                    </li>
                    <!-- 2 -->
                    <li>
                        <div class="card-front">
                            <div class="text2">Windows phone</div>
                            <p>Komollis erat matt nequemer rutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, alesuada nibh</p>
                        </div>
                        <div class="card-back">
                            <h2><a href="#">Click here</a></h2>
                        </div>
                        <!-- Content -->
                        <div class="all-content">
                            <div class="text2">J2me Canvas</div>
                            <p>Komollis erat matt nequemer rutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, alesuada nibh</p>
                        </div>
                    </li>
                    <li>
                        <div class="card-front">
                            <div class="text2">Tutoriels API GPS</div>
                            <p>In mollis erat matt nequemer rutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quis</p>
                        </div>
                        <div class="card-back">
                            <h2><a href="#">Click here</a></h2>
                        </div>
                        <!-- Content -->
                        <div class="all-content">
                            <div class="text2">API Google map</div>
                            <p>In mollis erat matt nequemer rutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quis</p>
                        </div>
                    </li>
                    <li>
                        <div class="card-front">
                            <div class="text2">API Youtube</div>
                            <p>In mollis erat matt nequemer rutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quis</p>
                        </div>
                        <div class="card-back">
                            <h2><a href="#">Click here</a></h2>
                        </div>
                        <!-- Content -->
                        <div class="all-content">
                            <div class="text2">Risk Management</div>
                            <p>In mollis erat matt nequemer rutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quis</p>
                        </div>
                    </li>
                    <!-- 3 -->
                    <li>
                        <div class="card-front">
                            <div class="text2">J2ME Canvas</div>
                            <p>Olerat matt nequemer rutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quis malesuad</p>
                        </div>
                        <div class="card-back">
                            <h2><a href="#">Click here</a></h2>
                        </div>
                        <!-- Content -->
                        <div class="all-content">
                            <div class="text2">Business Analysis</div>
                            <p>Olerat matt nequemer rutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quis malesuad</p>
                        </div>
                    </li>
                    <li>
                        <div class="card-front">
                            <div class="text2">API stackoverflow</div>
                            <p>In mollis erat matt nequemer rutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quis</p>
                        </div>
                        <div class="card-back">
                            <h2><a href="#">Click here</a></h2>
                        </div>
                        <!-- Content -->
                        <div class="all-content">
                            <div class="text2">Insurance Services</div>
                            <p>In mollis erat matt nequemer rutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quis</p>
                        </div>
                    </li>
                    <li class="last">
                        <div class="card-front">
                            <div class="text2">Tutoriel ardoino</div>
                            <p>Matt nequemer rutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quis malesuada nibh</p>
                        </div>
                        <div class="card-back">
                            <h2><a href="#">Click here</a></h2>
                        </div>
                        <!-- Content -->
                        <div class="all-content">
                            <div class="text2">Expert Business Plans</div>
                            <p>Matt nequemer rutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quis malesuada nibh</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}