<body>
    <div style="margin-left: 200px">
<br>
<br>
<br>
<img src="./bundles/moocmooc/images/logo.png" >
<H2> Quiz : {{quiz.titre}} </H2>
<br>
<br>
{#{%  set a=0 %}#}
 {% for q in rep %} 
   <div> {{q["0"].idquestion.question}}  :</div> <br>
          {#{%  set a=a+1 %}#}
     <div>  la reponse correcte : {{q["0"].rep }} </div>
     <br>
     <br>
   {% endfor %}
    </div>
</body>
